<input type="text" (keyup)="onSearch($event)" />

<li
  *ngFor="
    let project of projects
      | paginate
        : {
            id: 'projectsList',
            itemsPerPage: 30,
            currentPage: page,
            totalItems: total
          }
  "
>
  {{ project.name }} ({{ project.stars }})
</li>

<div *ngIf="projects.length == 0">
  <p>No results</p>
</div>

<div class="has-text-centered">
  <div
    class="spinner-border"
    [hidden]="!loading"
    [ngClass]="{ hidden: !loading }"
    role="status"
  ></div>
  <pagination-controls
    (pageChange)="onPageChange($event)"
    id="projectsList"
  ></pagination-controls>
</div>
